<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
>
<head>
<title>Reservation Confirmation</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Flight Details:</h1>
		<div class="list">
			<table class="list table table-hover">
				<thead>
					<tr>
						<th scope="col" class="col-sm-1">Number</th>
						<th scope="col" class="col-sm-3">Airlines</th>
						<th scope="col" class="col-sm-2">Departure</th>
						<th scope="col" class="col-sm-2">Arrival</th>
						<th scope="col" class="col-sm-4">Departure Time</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th th:text="${reservation.flight.flightNumber}">1</th>
						<td th:text="${reservation.flight.operatingAirlines}">Airlines</td>
						<td th:text="${reservation.flight.departureCity}">Departure</td>
						<td th:text="${reservation.flight.arrivalCity}">Arrival</td>
						<td th:text="${#calendars.format(reservation.flight.estimatedDepartureTime,'MM/dd/yyyy HH:mm')}">Departure Date</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h1>Passenger Details:</h1>
		<div class="list">
			<table class="list table table-hover">
				<thead>
					<tr>
						<th scope="col" class="col-sm-2">First Name</th>
						<th scope="col" class="col-sm-2">Last Name</th>
						<th scope="col" class="col-sm-2">Email</th>
						<th scope="col" class="col-sm-2">Phone</th>
						<th scope="col" class="col-sm-2">Reservation Time</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th th:text="${reservation.passenger.firstName}">First Name</th>
						<td th:text="${reservation.passenger.firstName}">Last Name</td>
						<td th:text="${reservation.passenger.email}">Email</td>
						<td th:text="${reservation.passenger.phone}">Phone</td>
						<td th:text="${#calendars.format(reservation.created,'MM/dd/yyyy HH:mm')}">Created Date</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div layout:fragment="checkin">
		</div>
	</div>

</body>
</html>