@charset "UTF-8";

.navbar {
	display: block;
	margin-top: 20px;
	overflow: scroll;
}

.navbar-header a, ul {
	font-size: 20px;
}

header h1 {
	font-family: 'Exo', sans-serif;
	font-size: 38px;
}

p, address, section {
	font-family: 'Roboto', sans-serif;
}

address {
	margin-top: 20px;
}

#frmlogout {
	display: inline;
}

.required {
	color: #a94442;
	font-weight: bold;
}

.content-layout {
	background-image: url('../img/background.jpg');
	background-position: center;
	background-size: cover;
	background-color: white;
	padding: 5px;
	text-align: center;
	width: 100%;
font-family: 'Exo';
 	display: block;
 	min-height: 60vh;
}

footer {
	padding: 10px;
	text-align: center;
}

.form {
	display: block;
	/*  	border-style: solid;
	border-width: 5px;  */
	max-width: 60%;
	min-height: 20vh;
	padding: 5px;
	margin: auto;
	font-size: 20px;
	text-align: center;
}

.list {
	display: block;
	/*  	border-style: solid;
	border-width: 5px;  */
	max-width: 80%;
	padding: 5px;
	margin: auto;
	font-size: 16px;
	text-align: left;
}

.table {
	table-layout: fixed;
	white-space: nowrap;
	display: block;
	overflow-x: scroll;
	margin: auto;
	text-align: left;
}

.table td {
	overflow: hidden;
	text-overflow: ellipsis;
}

.index {
	padding: 2px 40px;
	font-size: 16px;
}

table {
	
}

.index ul {
	text-align: left;
	margin: auto;
}